<div class="container">
  <mat-card>
    <mat-card-title>{{album.title}}</mat-card-title>
    <mat-card-content>{{album.text}}</mat-card-content>
    <mat-card-content>
      <span class="images" *ngFor="let i of album.photo">
        <a [routerLink]="['/album', slug, i.id]">
          <img mat-card-lg-image [src]="i.image">
        </a>
        &nbsp;&nbsp;
      </span>
    </mat-card-content>
    <button mat-raised-button color="primary" (click)="returnToAlbums()">Return to All Albums</button>
  </mat-card>
  <br>
</div>
